// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Set Inter as the default font
$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Your custom styles go here
body {
    font-family: $font-family-base;
}

.navbar-toggler {
    border: none;
    font-size: 18px;
}

.navbar-toggler:hover {
    border: none;
    font-size: 18px;
}
